@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>OnlineTest is fully automated online assessment portal. Here registered users can give test and quickly view their result in just few seconds.</p>
